{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>go and htmx test</title>
        <link href="css/style.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js" integrity="sha384-Akqfrbj/HpNVo8k11SXBb6TlBWmXXlYQrCSqEWmyKJe+hDm3Z/B2WVG4smwBkRVm" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="count">
            {{ template "count" . }} 
        </div>
        <button hx-target="#count" hx-post="/count">Count</button>
    </body>
</html>
{{ end }}

{{ block "count" . }}
    Count {{ .Count }}
{{ end }} 
